@charset "UTF-8";

/* 主色调 */

$red:#db1f2b;

/* 字体颜色 */

$text-33: #333333;
$text-80: #808080;
$text-b2: #b2b2b2;
$text-red: #db1f2c;
$text-yel: #f5b73c;
$text-green: #088546;
$text-link: #006699;
$text-orange:#ff6600;
$text-db: #dbdbdb;

/* 边框颜色 */

$border-btm:#ededed;
$border-yel:#f5b73c;
$border-b2:#b2b2b2;

/* 背景颜色 */

$bg-fff:#ffffff;

/* 字体大小 */

$font-32:0.32rem;
$font-30:0.3rem;
$font-28:0.28rem;
$font-26:0.26rem;
$font-24:0.24rem;
$font-22:0.22rem;